@charset "UTF-8";

/*  (주)한신정보기술 2023.12.18 송상희  */


/* 분야별정보 > 청년 > 청년창업센터 > 창업공간(1층) */
.nyj_box.text_box.floor_box .nyj_box_inner{padding:0;}
.nyj_box.floor_box .nyj_box_inner .nyj_con_box {position: relative; padding:100px 110px 135px 60px;}
.nyj_box.floor_box .nyj_box_inner .nyj_con_box .floor_num {position: absolute;top: 57px;left: 0;max-width: 111px;}
.nyj_box.floor_box .nyj_box_inner .nyj_con_box .floor_icon {position: absolute;bottom: 38px;left: 60px;max-width: 408px;}
.nyj_box.floor_box .nyj_box_inner .nyj_con_box .nyj_desc {display: flex; position: relative;justify-content: space-between;}
.nyj_box.floor_box .nyj_box_inner .nyj_con_box .nyj_desc .room_info {position: relative; top: 60px;}
.nyj_box.floor_box .nyj_box_inner .nyj_con_box .nyj_desc .img_zoom{display: none;overflow: hidden;position: absolute;left: calc(50% - 15px);bottom: 5px;width: 30px;height: 30px;border-radius: 50%;box-sizing: border-box;}
.nyj_box.floor_box .nyj_box_inner .nyj_con_box .nyj_desc .img_zoom a{position: relative;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.6);font-size: 0;color: transparent;line-height: 40px;}
.nyj_box.floor_box .nyj_box_inner .nyj_con_box .nyj_desc .img_zoom a:before{display: block;top: 7px;left: 7px;position: absolute;width: 18px;height: 17px;background-image: url(../../../site/public/images/template/magnifier.svg);background-repeat: no-repeat;content: '';box-sizing: border-box;transform: scale(0.8);
}
.nyj_box.floor_box .nyj_box_inner .nyj_con_box .nyj_desc .real_img{height: 100%;}
.num.room_info > li{margin-top: 10px;padding-left: 28px;font-size: 15px;color: #1b224e;line-height: 20px;font-weight: 500;}
.num.room_info > li > .number, .kor > li > .text{display: block;position: absolute;top: 0;left: 0; width: 20px;height: 20px;background-color: #1b224e; border-radius:50%;font-size: 13px; color: #fff; line-height: 20px; font-weight: 400;}
p + .nyj_box.floor_box{margin-top: 55px;}
@media screen and (max-width: 1500px){
    .nyj_box.floor_box .nyj_box_inner .nyj_con_box {position: relative; padding:100px 40px 135px 60px}
}
@media screen and (max-width: 1000px){
    .nyj_box.floor_box .nyj_box_inner .nyj_con_box {position: relative; padding:120px 40px 135px 60px}
    .nyj_box.floor_box .nyj_box_inner .nyj_con_box .floor_num {position: absolute;top: 50px;left: 0;}
    .nyj_box.floor_box .nyj_box_inner .nyj_con_box .nyj_desc {display: flex; flex-direction: column; align-items: center; gap: 50px; }
    .nyj_box.floor_box .nyj_box_inner .nyj_con_box .nyj_desc .room_info {position: relative; top: 0;}
    .num.room_info > li{padding-left: 28px;font-size: 15px;color: #1b224e;line-height: 20px;font-weight: 500; margin-top: 5px;}
    p + .nyj_box.floor_box{margin-top: 40px;}
}
@media screen and (min-width:1001px){
    .cts2540_wrap .nyj_box.floor_box.b1 .nyj_box_inner .nyj_con_box{padding-top: 128px; padding-bottom: 109px;}
    .cts2540_wrap .nyj_box.floor_box.b1 .nyj_box_inner .nyj_con_box .nyj_desc .room_info{top: 15px;}
    .cts2540_wrap .nyj_box.floor_box.f1 .nyj_box_inner .nyj_con_box{padding-top: 148px; padding-bottom: 188px;}
    .cts2540_wrap .nyj_box.floor_box.f1 .nyj_box_inner .nyj_con_box .nyj_desc .room_info{top: 15px;}
    .cts2540_wrap .nyj_box.floor_box.f2 .nyj_box_inner .nyj_con_box{padding-top: 214px; padding-bottom: 138px;}
    .cts2540_wrap .nyj_box.floor_box.f2 .nyj_box_inner .nyj_con_box .nyj_desc .room_info{top: -52px;}
    .cts2540_wrap .nyj_box.floor_box.f3 .nyj_box_inner .nyj_con_box{padding-top: 153px; padding-bottom: 186px;}
    .cts2540_wrap .nyj_box.floor_box.f3 .nyj_box_inner .nyj_con_box .nyj_desc .room_info{top: 0px;}
    .cts2540_wrap .nyj_box.floor_box.f4 .nyj_box_inner .nyj_con_box{padding-top: 168px; padding-bottom: 129px;}
    .cts2540_wrap .nyj_box.floor_box.f4 .nyj_box_inner .nyj_con_box .nyj_desc .room_info{top: -17px;}
}
@media screen and (max-width:800px){
    .cts2540_wrap .nyj_box.floor_box .nyj_box_inner .nyj_con_box .nyj_desc .room_info{display: flex; flex-wrap: wrap; width: 100%;}
    .cts2540_wrap .num.room_info > li{width: 50%;}
    .nyj_box.floor_box .nyj_box_inner .nyj_con_box .nyj_desc .img_zoom {display: block;}
}
@media screen and (max-width: 640px){
    .nyj_box.floor_box .nyj_box_inner .nyj_con_box {position: relative; padding:100px 20px 135px}
    .nyj_box.floor_box .nyj_box_inner .nyj_con_box .floor_num {width: 25%; position: absolute;top: 40px;left: 0;}
    .nyj_box.floor_box .nyj_box_inner .nyj_con_box .nyj_desc {gap: 50px;}
    .nyj_box.floor_box .nyj_box_inner .nyj_con_box .floor_icon {width: 90%;position: absolute;bottom: 38px;left: 20px;}
    p + .nyj_box.floor_box{margin-top: 30px;}
    .num.room_info > li{width: 100%; margin-top: 5px; padding-left: 28px;font-size: 14px;color: #1b224e;line-height: 20px;font-weight: 500;}
    .nyj_box.floor_box .nyj_box_inner .nyj_con_box .nyj_desc .real_img{height: auto;}
}

/*  남양주소개 > 행정복지센터/읍면동 > 행정복지센터 안내 */
.cts2559_wrap .nyj_box.welfare_box .depth1 .depth1_item{z-index:1;display: block;position: relative;width:193px;height:193px;margin: 0 auto;padding-top: 97px;}
.cts2559_wrap .nyj_box.welfare_box .depth1 .depth1_item:after{display: block;position: absolute;top:57px;left:calc(50% - 17px);width:34px;height:33px;background:url(../images/contents/cts2559_icon01.png);content: '';}
.cts2559_wrap .nyj_box.welfare_box .depth1 .depth1_item:before{display: block;position: absolute;top:0;left:0;width: 100%;height: 100%;background-color: #317ad7;border-radius: 60px;transform: rotate(45deg);content:'';}
.cts2559_wrap .nyj_box.welfare_box .depth1 .depth1_item .depth1_text{display: block;position: relative;font-size:22px;line-height: 30px;letter-spacing: -0.04em;font-weight: 500;color: #fff;text-align: center;word-break: keep-all;}
.cts2559_wrap .nyj_box.welfare_box .depth2:before{display: block; position: absolute;width: 100%;height: 1px;background-color: #a7b7ce;content: '';}
.cts2559_wrap .nyj_box.welfare_box .left{display: block;position: absolute;left: 0;}
.cts2559_wrap .nyj_box.welfare_box .right{display: block;position: absolute;right: 0;}
.cts2559_wrap .nyj_box.welfare_box.type2 .depth1{display: block;position: relative;width: 100%;min-height:340px;padding:90px;background-color:#eff5fe;border-radius:170px;box-sizing: border-box;}
.cts2559_wrap .nyj_box.welfare_box.type2 .depth2{display: block;position: relative;top:-96.5px;box-sizing: border-box;}
.cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item{top:-60px;width:240px;min-height: 120px;padding:31px 10px;background-color: #fff;border-radius: 60px;box-shadow: 5px 10px 8px rgba(176, 200, 235, 0.2);}
.cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item:before{z-index:3;top:50%;display: block;position: absolute;width:46px;height:46px;background-color:#3b5a85;background-image:url(../images/contents/cts2559_arrow01.png);background-repeat:no-repeat;background-position: center; border-radius:100%;content: '';}
.cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item.left:before{right: -24px;transform: rotate(180deg) translateY(50%);box-shadow: -3px -4px 8px rgba(0, 0, 0, 0.1);}
.cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item.right:before{left: -24px;transform:translateY(-50%);box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.1);}
.cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item .depth2_text{font-size: 20px;line-height: 28px;letter-spacing: -0.04em;color: #3b5a85;text-align: center;font-weight: 500;}
.cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item .depth2_text .desc{font-size: 16px;}
.cts2559_wrap .nyj_box.welfare_box.type2 .service{margin-top: 67px;}
.cts2559_wrap .nyj_box.welfare_box.type2 .service .title span{display: block;position: relative;font-size: 22px;line-height: 28px;letter-spacing: -0.02em;font-weight: 500;text-align: center;color: #1b224e;}
.cts2559_wrap .nyj_box.welfare_box.type2 .service .title em{display: block;position: relative;margin-top:10px;font-size: 36px;line-height: 43px;letter-spacing: -0.02em;font-weight: 400;text-align: center;color: #1b224e;font-family: 'SBAggro', 'Score','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;word-break: keep-all;}
.cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box{margin-top: 60px;position: relative;}
/* .cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_list{display: block;font-size: 0;line-height: 0;} */
.cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_list{display: flex; justify-content: space-between;flex-flow: row wrap;}
.cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item{display:block;position:relative;flex-basis: calc((100% - 60px) / 3);min-height: 180px;padding:50px 36px 40px;background-color: #fff8f2;border-radius: 15px;}
.cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item:nth-child(n+4){margin-top: 30px;}
.cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item.long{flex-basis: calc(((100% - 60px) / 3) * 2 + 30px)}
.cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item .number{display: block;position: absolute;top:-5px;left:16px;width: 33px;height: 33px;background-color: #ff6858;border-radius: 10px;font-size: 18px;letter-spacing: -0.03em;line-height: 33px;font-weight: 400;color:#fff;text-align:center;font-family: 'Montserrat','Score','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
.cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item .list_title{font-size: 20px;line-height: 28px;letter-spacing: -0.04em;color: #242a3a;font-weight: 500;word-break: keep-all;}
.cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item .list_desc{margin-top:10px;font-size: 15px;line-height: 26px;letter-spacing: -0.03em;color: #45484e;font-weight: 300;word-break:keep-all;}

.cts2559_wrap .nyj_box.welfare_box.type3 .nyj_box_inner{padding: 98px 100px 67px;}
.cts2559_wrap .nyj_box.welfare_box.type3 .depth1{display: block;position: relative;min-height: 430px;}
.cts2559_wrap .nyj_box.welfare_box.type3 .depth1:before{z-index:2;display: block;position: absolute;bottom:109px;left:50%;width:13px;height:13px;background-color:#3b5a85;border-radius:100%;transform: translateX(-50%);content: '';}
.cts2559_wrap .nyj_box.welfare_box.type3 .depth1:after{display: block;position: absolute;top:0;left:calc(50% - 1px);width:1px;height:calc(100% - 115px);background-color:#aab8cb;content: '';}
.cts2559_wrap .nyj_box.welfare_box.type3 .depth1 .depth1_item{padding-top: 81px;}
.cts2559_wrap .nyj_box.welfare_box.type3 .depth1 .depth1_item:before{background-color: #1d2f9b;}
.cts2559_wrap .nyj_box.welfare_box.type3 .depth1 .depth1_item:after{top:38px;background:url(../images/contents/cts2559_icon02.png);}
.cts2559_wrap .nyj_box.welfare_box.type3 .depth2{display: block;position: relative;margin-top: 120px;}
.cts2559_wrap .nyj_box.welfare_box.type3 .depth2 .depth2_item{top:-87px;width: 404px;min-height: 174px;background-color: #fff;border-radius: 87px;box-shadow: 6px 10px 8px rgba(195, 202, 213, 0.2);}
.cts2559_wrap .nyj_box.welfare_box.type3 .depth2 .depth2_item.left{padding: 58px 58px;}
.cts2559_wrap .nyj_box.welfare_box.type3 .depth2 .depth2_item.right{padding: 45px 58px;}
.cts2559_wrap .nyj_box.welfare_box.type3 .depth2 .depth2_item .depth2_text{display:block;font-size: 20px;line-height: 28px;letter-spacing: -0.04em;color: #3b5a85;text-align: center;font-weight: 500;word-break: keep-all;}

@media screen and (min-width:1501px){
    .cts2559_wrap .nyj_box.welfare_box.type2 .nyj_box_inner{padding: 50px 70px;}
}
@media screen and (max-width:1500px){
    .cts2559_wrap .nyj_box.welfare_box.type2 .depth1{padding: 90px 30px;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item{flex-basis: calc((100% - 40px) / 3);}
    .cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item.long{flex-basis: calc(((100% - 40px) / 3) * 2 + 20px);}
    .cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item:nth-child(n+4){margin-top: 20px;}
    .cts2559_wrap .nyj_box.welfare_box.type3 .nyj_box_inner{padding: 98px 40px 70px;}
    .cts2559_wrap .nyj_box.welfare_box.type3 .depth2 .depth2_item{width: 368px;}
}
@media screen and (max-width:1200px){
    .cts2559_wrap .nyj_box.welfare_box.type3 .depth1 .depth1_item:after{top:32px}
    .cts2559_wrap .nyj_box.welfare_box.type3 .depth1 .depth1_item{padding-top: 77px;}
    .cts2559_wrap .nyj_box.welfare_box .depth1 .depth1_item .depth1_text{font-size: 20px;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item .depth2_text{font-size: 18px;line-height: 26px;}
    .cts2559_wrap .nyj_box.welfare_box.type3 .depth2 .depth2_item .depth2_text{font-size: 18px;line-height: 26px;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .service .title em{font-size: 30px;}
}
@media screen and (max-width:1000px){
    .cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item{width: 220px;}
    .cts2559_wrap .nyj_box.welfare_box.type3 .nyj_box_inner{padding: 90px 30px 70px;}
    .cts2559_wrap .nyj_box.welfare_box.type3 .depth2 .depth2_item{width: calc(50% - 50px);max-width: 368px;}
    .cts2559_wrap .nyj_box.welfare_box.type3 .depth2 .depth2_item.right{padding: 45px 26px;}
}
@media screen and (max-width:800px){
    .cts2559_wrap .nyj_box.welfare_box.type2 .depth1{padding: 60px 30px 90px;border-radius:30px ;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .depth2{top: 0;margin-top: 50px;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item{top: 0;width:100%;padding: 48px 10px;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item + .depth2_item{margin-top: 30px;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item .depth2_text br{display: none !important;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item:before{top: -20px;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item.left:before{left: 50%;right:auto; transform: translateX(-50%) rotate(90deg);}
    .cts2559_wrap .nyj_box.welfare_box.type2 .depth2 .depth2_item.right:before{left: 50%; transform: translateX(-50%) rotate(90deg);}
    .cts2559_wrap .nyj_box.welfare_box .left, .cts2559_wrap .nyj_box.welfare_box .right{position: relative;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .depth2:before{top:-50px; left:calc(50% - 1px);width: 1px;height: 100%;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .service .title span{font-size: 18px;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .service .title em{font-size: 24px;line-height: 28px;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item{flex-basis: 100%; min-height: auto;padding: 50px 36px 30px;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item.long{flex-basis: 100%;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item:nth-child(n+4){margin-top: 0;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item + .service_item{margin-top: 20px;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item .list_title{font-size: 18px;}
    .cts2559_wrap .nyj_box.welfare_box.type2 .service .service_con_box .service_item .list_desc br{display: none !important;}
    .cts2559_wrap .nyj_box.welfare_box.type3 .nyj_box_inner{padding: 90px 30px 0;}
    .cts2559_wrap .nyj_box.welfare_box.type3 .depth2:before{display: none;}
    .cts2559_wrap .nyj_box.welfare_box.type3 .depth2 .depth2_item{z-index:3;width: 100%; max-width: none;min-height: auto;}
    .cts2559_wrap .nyj_box.welfare_box.type3 .depth2 .depth2_item.left{padding: 28px 58px;}
    .cts2559_wrap .nyj_box.welfare_box.type3 .depth2 .depth2_item.left{padding: 28px 58px;}
    .cts2559_wrap .nyj_box.welfare_box.type3 .depth2 .depth2_item + .depth2_item{margin-top: 20px;}
    .cts2559_wrap .nyj_box.welfare_box.type3 .depth2 .depth2_item .depth2_text{font-size: 16px;line-height: 24px;}
}

/*  분야별정보 > 취업/경제 > 착한가격업소 */
.cts2979_wrap .nyj_map_box{overflow: hidden;}
.cts2979_wrap .nyj_map_box .map_inner .root_daum_roughmap{width: 680px;}
.cts2979_wrap .layer_popup .popupbox{width: 780px; top: calc(50% + 170px);}
.cts2979_wrap .temp_layerbox .layer .innerbox {max-width: 780px;}
@media screen and (max-width: 1000px){
    .cts2979_wrap .layer_popup .popupbox{width: 640px; top: calc(50% + 170px);}
    .cts2979_wrap .nyj_map_box .map_inner .root_daum_roughmap{width: 540px;}
}
@media screen and (max-width: 640px){
    .cts2979_wrap .layer_popup .popupbox{width: 350px; top: calc(50% + 10px);}
    .cts2979_wrap .nyj_map_box .map_inner .root_daum_roughmap{width: 250px;}
}
