@charset "UTF-8";

/* 한신정보기술 2023.11.15 안형주 */
/* 사전행정정보목록 */
.administration{box-sizing:border-box;}
.administration a:hover{text-decoration:none;}
.administration .icon_list_wrap{position:relative;padding:50px 50px 37px 50px;border-radius:16px;box-sizing:border-box;background-color:#f4f6f9;}
.administration .icon_list_wrap .icon_list{position:relative;display:flex;flex-direction:row;flex-wrap:wrap;box-sizing:border-box;padding-bottom:11px;margin:0 -16px 0 0;}
.administration .icon_list_wrap .icon_list:before{display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAAXNSR0IArs4c6QAAABRJREFUGFdj3LRp038/Pz9GBiAAACZuBAIHZI+XAAAAAElFTkSuQmCC);content:''}
.administration .icon_list_wrap .icon_list .icon_item{position:relative;width:116px;height:116px;margin-right:16px;margin-bottom:20px;box-sizing:border-box;background-color:#fff;border-radius:18px;box-shadow:10px 10px 15px 0 rgba(218, 223, 231, 0.4);}
.administration .icon_list_wrap .icon_list .icon_item .icon_link{position:relative;width:100%;height:100%;padding:17px 10px;box-sizing:border-box;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i{display:block;position:relative;width:60px;height:60px;margin:0 auto;background:url(../images/program/administration_icon1.png) no-repeat;background-position:0 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i.a1{background-position:0 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i.a2{background-position:-60px 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i.a3{background-position:-120px 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i.a4{background-position:-180px 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i.a5{background-position:-240px 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i.a6{background-position:-300px 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i.a7{background-position:-360px 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i.a8{background-position:-420px 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i.a9{background-position:-480px 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i.a10{background-position:-540px 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i.a11{background-position:-600px 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i.a12{background-position:-660px 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link i.a13{background-position:-720px 0;}
.administration .icon_list_wrap .icon_list .icon_item .icon_link .icon_text{display:block;font-size:15px;line-height:22px;letter-spacing:-0.04em;font-weight:400;color:#5b616f;text-align:center;}
/* icon_item on효과 */
.administration .icon_list_wrap .icon_list .icon_item:before{opacity:0;display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:2px solid #1b224e;border-radius:18px;box-sizing:border-box;content:'';transition-property:opacity;transition-duration:300ms;transition-timing-function:ease-in-out;}
.administration .icon_list_wrap .icon_list .icon_item.on:before{opacity:1;}
.administration .icon_list_wrap .icon_list .icon_item:after{opacity:0;display:block;position:absolute;top:11px;right:11px;width:23px;height:23px;background:url(../images/program/icon_item_after.png) no-repeat center center;box-sizing:border-box;content:'';transition-property:opacity;transition-duration:300ms;transition-timing-function:ease-in-out;}
.administration .icon_list_wrap .icon_list .icon_item.on:after{opacity:1;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link i.a1{background-position:0 -120px;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link i.a2{background-position:-60px -120px;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link i.a3{background-position:-120px -120px;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link i.a4{background-position:-180px -120px;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link i.a5{background-position:-240px -120px;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link i.a6{background-position:-300px -120px;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link i.a7{background-position:-360px -120px;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link i.a8{background-position:-420px -120px;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link i.a9{background-position:-480px -120px;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link i.a10{background-position:-540px -120px;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link i.a11{background-position:-600px -120px;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link i.a12{background-position:-660px -120px;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link i.a13{background-position:-720px -120px;}
.administration .icon_list_wrap .icon_list .icon_item.on .icon_link .icon_text{color:#1b224e;}
/* sub_list */
.administration .icon_list_wrap .sub_list{position:relative;display:flex;flex-direction:row;flex-wrap:wrap;box-sizing:border-box;margin:0 -13px 0 0;padding-bottom:0;padding-top:30px;}
.administration .icon_list_wrap .sub_list .icon_item{position:relative;width:104px;height:104px;margin-right:13px;margin-bottom:13px;box-sizing:border-box;background-color:#fff;border-radius:18px;box-shadow:10px 10px 15px 0 rgba(218, 223, 231, 0.4);}
.administration .icon_list_wrap .sub_list .icon_item .icon_link{position:relative;width:100%;height:100%;box-sizing:border-box;padding:12px 10px 14px;}
.administration .icon_list_wrap .sub_list .icon_item .icon_link i{display:block;position:relative;width:56px;height:56px;margin:0 auto;background:url(../images/program/administration_icon2.png) no-repeat;}
.administration .icon_list_wrap .sub_list .icon_item .icon_link i.b1{background-position:0 0;}
.administration .icon_list_wrap .sub_list .icon_item .icon_link i.b2{background-position:-56px 0;}
.administration .icon_list_wrap .sub_list .icon_item .icon_link i.b3{background-position:-112px 0;}
.administration .icon_list_wrap .sub_list .icon_item .icon_link i.b4{background-position:-168px 0;}
.administration .icon_list_wrap .sub_list .icon_item .icon_link i.b5{background-position:-224px 0;}
.administration .icon_list_wrap .sub_list .icon_item .icon_link i.b6{background-position:-280px 0;}
.administration .icon_list_wrap .sub_list .icon_item .icon_link i.b7{background-position:-336px 0;}
.administration .icon_list_wrap .sub_list .icon_item .icon_link i.b8{background-position:-392px 0;}
.administration .icon_list_wrap .sub_list .icon_item .icon_link i.b9{background-position:-448px 0;}
.administration .icon_list_wrap .sub_list .icon_item .icon_link .icon_text{display:block;font-size:15px;line-height:22px;letter-spacing:-0.04em;font-weight:400;color:#5b616f;text-align:center;}
/* sub_list on효과 */
.administration .icon_list_wrap .sub_list .icon_item:before{opacity:0;display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:2px solid #1b224e;border-radius:18px;box-sizing:border-box;content:'';transition-property:opacity;transition-duration:300ms;transition-timing-function:ease-in-out;}
.administration .icon_list_wrap .sub_list .icon_item.on:before{opacity:1;}
.administration .icon_list_wrap .sub_list .icon_item:after{opacity:0;display:block;position:absolute;top:10px;right:10px;width:23px;height:23px;background:url(../images/program/icon_item_after.png) no-repeat center center;box-sizing:border-box;content:'';transition-property:opacity;transition-duration:300ms;transition-timing-function:ease-in-out;}
.administration .icon_list_wrap .sub_list .icon_item.on:after{opacity:1;}
.administration .icon_list_wrap .sub_list .icon_item.on .icon_link i.b1{background-position:0 -112px;}
.administration .icon_list_wrap .sub_list .icon_item.on .icon_link i.b2{background-position:-56px -112px;}
.administration .icon_list_wrap .sub_list .icon_item.on .icon_link i.b3{background-position:-112px -112px;}
.administration .icon_list_wrap .sub_list .icon_item.on .icon_link i.b4{background-position:-168px -112px;}
.administration .icon_list_wrap .sub_list .icon_item.on .icon_link i.b5{background-position:-224px -112px;}
.administration .icon_list_wrap .sub_list .icon_item.on .icon_link i.b6{background-position:-280px -112px;}
.administration .icon_list_wrap .sub_list .icon_item.on .icon_link i.b7{background-position:-336px -112px;}
.administration .icon_list_wrap .sub_list .icon_item.on .icon_link i.b8{background-position:-392px -112px;}
.administration .icon_list_wrap .sub_list .icon_item.on .icon_link i.b9{background-position:-448px -112px;}
.administration .icon_list_wrap .sub_list .icon_item.on .icon_link .icon_text{color:#1b224e;}

@media screen and (min-width:1001px) {
    /* a */
    .administration .icon_list_wrap .icon_list .icon_item:hover:before{opacity:1;}
    .administration .icon_list_wrap .icon_list .icon_item:hover:after{opacity:0;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link i.a1{background-position:0 -120px;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link i.a2{background-position:-60px -120px;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link i.a3{background-position:-120px -120px;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link i.a4{background-position:-180px -120px;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link i.a5{background-position:-240px -120px;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link i.a6{background-position:-300px -120px;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link i.a7{background-position:-360px -120px;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link i.a8{background-position:-420px -120px;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link i.a9{background-position:-480px -120px;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link i.a10{background-position:-540px -120px;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link i.a11{background-position:-600px -120px;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link i.a12{background-position:-660px -120px;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link i.a13{background-position:-720px -120px;}
    .administration .icon_list_wrap .icon_list .icon_item:hover .icon_link .icon_text{color:#1b224e;}
    /* b */
    .administration .icon_list_wrap .sub_list .icon_item:hover:before{opacity:1;}
    .administration .icon_list_wrap .sub_list .icon_item:hover:after{opacity:0;}
    .administration .icon_list_wrap .sub_list .icon_item:hover .icon_link i.b1{background-position:0 -112px;}
    .administration .icon_list_wrap .sub_list .icon_item:hover .icon_link i.b2{background-position:-56px -112px;}
    .administration .icon_list_wrap .sub_list .icon_item:hover .icon_link i.b3{background-position:-112px -112px;}
    .administration .icon_list_wrap .sub_list .icon_item:hover .icon_link i.b4{background-position:-168px -112px;}
    .administration .icon_list_wrap .sub_list .icon_item:hover .icon_link i.b5{background-position:-224px -112px;}
    .administration .icon_list_wrap .sub_list .icon_item:hover .icon_link i.b6{background-position:-280px -112px;}
    .administration .icon_list_wrap .sub_list .icon_item:hover .icon_link i.b7{background-position:-336px -112px;}
    .administration .icon_list_wrap .sub_list .icon_item:hover .icon_link i.b8{background-position:-392px -112px;}
    .administration .icon_list_wrap .sub_list .icon_item:hover .icon_link i.b9{background-position:-448px -112px;}
    .administration .icon_list_wrap .sub_list .icon_item:hover .icon_link .icon_text{color:#1b224e;}
    .administration .icon_list_wrap .sub_list .icon_item:last-child{margin-right:0;}
    /* 검색박스 */
    .administration .search_bar_wrap .p_search_box .card{margin:52px 0 30px;}
    .administration .search_bar_wrap .p_search_box .select_item{padding:0 60px 0 17px;}
}
@media screen and (min-width:1501px) {
    .administration .icon_list_wrap .icon_list .icon_item:nth-child(8){margin-right:0px;}
}
@media screen and (max-width:1500px) {
    .administration .icon_list_wrap .sub_list .icon_item{margin-right:12px;}
}
@media screen and (max-width:1500px) and (min-width:1201px) {
    .administration .icon_list_wrap .sub_list .icon_item:nth-child(7){margin-right:0;}
}
@media screen and (max-width:1200px) {
    .administration .icon_list_wrap .icon_list .icon_item{width:110px;height:110px;}
    .administration .icon_list_wrap .sub_list .icon_item{width:100px;height:100px;}
}
@media screen and (max-width:1000px) {
    .administration .icon_list_wrap{padding:40px 40px 37px 40px;}
    .administration .icon_list_wrap .icon_list{justify-content:center;}
    .administration .icon_list_wrap .icon_list .icon_item{margin-bottom:16px;}
    .administration .icon_list_wrap .icon_list .icon_item .icon_link{padding:10px;}
    .administration .icon_list_wrap .icon_list .icon_item .icon_link .icon_text{font-size:13px;}
    .administration .icon_list_wrap .sub_list{justify-content:center;padding-right:34px;padding-left:34px;}
    .administration .icon_list_wrap .sub_list .icon_item{margin-right:13px;margin-bottom:13px;}
    .administration .icon_list_wrap .sub_list .icon_item .icon_link{padding:10px;}
}
@media screen and (max-width:800px) {
    .administration .icon_list_wrap .sub_list{padding-right:0px;padding-left:0px;}
}
@media screen and (max-width:640px) {
    .administration .icon_list_wrap{padding:30px 20px;}
    .administration .icon_list_wrap .icon_list{margin:0 -13px 0 0;}
    .administration .icon_list_wrap .icon_list .icon_item{width:100px;height:100px;margin-right:13px;}
    .administration .icon_list_wrap .icon_list .icon_item.on:after{top:8px;right:8px;}
    .administration .icon_list_wrap .sub_list .icon_item.on:after{top:8px;right:8px;}
}

.administration .text_list_wrap{position:relative;box-sizing:border-box;}
.administration .text_list_wrap .text_list .text_list_item{margin-top:20px;}
.administration .text_list_wrap .text_list .text_list_item:first-child{margin-top:0;}
.administration .text_list_wrap .text_list .text_list_item .nyj_box .nyj_box_inner .nyj_con_box .nyj_title{position:relative;padding-bottom:15px;font-size:0;line-height:0;box-sizing:border-box;margin-top:1px;margin-bottom:1px;}
.administration .text_list_wrap .text_list .text_list_item .nyj_box .nyj_box_inner .nyj_con_box .nyj_title:before{display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAAXNSR0IArs4c6QAAABBJREFUGFdjZICCzZs3+wIABrICaAj3q+sAAAAASUVORK5CYII=);}
.administration .text_list_wrap .text_list .text_list_item .nyj_box .nyj_box_inner .nyj_con_box .nyj_title .title_text{font-size:22px;line-height:48px;letter-spacing:-0.04em;font-weight:500;color:#252831;}
.administration .text_list_wrap .text_list .text_list_item .nyj_box .nyj_box_inner .nyj_con_box .nyj_title .nyj_btn{float:right;margin-top:0;}
.administration .text_list_wrap .text_list .text_list_item .nyj_box .nyj_box_inner .nyj_con_box .nyj_title .nyj_btn .btn{min-width:150px;color:#111;}
.administration .text_list_wrap .text_list .text_list_item .nyj_box .nyj_box_inner .nyj_con_box .nyj_title .nyj_btn .btn:hover{color:#fff;}
.administration .text_list_wrap .text_list .text_list_item .nyj_box .nyj_box_inner .nyj_con_box .nyj_desc{margin-top:26px;margin-bottom:2px;}
@media screen and (max-width:1000px) {
    .administration .text_list_wrap .text_list .text_list_item .nyj_box .nyj_box_inner .nyj_con_box .nyj_title .title_text{display:block;font-size:20px;line-height:30px}
    .administration .text_list_wrap .text_list .text_list_item .nyj_box .nyj_box_inner .nyj_con_box .nyj_title .nyj_btn{float:none;margin-top:5px;}
    .administration .text_list_wrap .text_list .text_list_item .nyj_box .nyj_box_inner .nyj_con_box .nyj_title .nyj_btn .btn{min-width:120px;}
    .administration .text_list_wrap .text_list .text_list_item .nyj_box .nyj_box_inner .nyj_con_box .nyj_desc{margin-top:20px;}
}


