@charset "UTF-8"; 

#input__file{
    display:none;
}
.fileUploader{
    max-width: 1280px;
}
.fileUploader__label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    min-height: 400px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f6f6f6;

    text-align: center;
    cursor: pointer;
}
.fileUploader__label .fileUploader__label__icon{
    display: block;
    width: 45px;
    height: 45px;
    background: url(../img/folder.png) no-repeat center center / contain;
}
.fileUploader__list{
    margin-top: 20px;
}
.fileUploader__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.file__info{
    margin: 0;
}
.file__info .file__icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2Z' stroke='%232974E7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 2V8H20' stroke='%232974E7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 13H8' stroke='%232974E7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 17H8' stroke='%232974E7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 9H9H8' stroke='%232974E7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    vertical-align: middle;
}
.file__info .file__name{
    justify-self: flex-start;
    width: fit-content;
    margin: 0;
}
.file__delete{
    width: 24px;
    height: 24px;
    margin: 0;
    border: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 6L18 18' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    cursor: pointer;
}