@charset "UTF-8"; 

.slider__wrapper{
    position: relative;
    max-width: 72vw;
}
.slider{
    width: 100%;
    height: 500px;
    overflow:hidden;
}
.slider__content{
    position: relative;
    display: flex;
    align-items: center;
    gap: 4vw;
    /* transform: translateX(-15vw); */
    transition: all 0.5s ease-in-out;

}
.slider__content .slider__item{
    flex: none;
    width: 30vw;
    height: 500px;
    margin: 0;
    background: url(https://images.unsplash.com/photo-1768430309142-632889e10e86?q=80&w=1336&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center / cover;
}
.slider__item.slider2{
    background-image: url(https://images.unsplash.com/photo-1768836180164-070b4c1a8f94?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.slider__item.slider3{
    background-image: url(hhttps://images.unsplash.com/photo-1618220179428-22790b461013?q=80&w=927&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.slider__item.slider4{
    background-image: url(https://images.unsplash.com/photo-1567016546367-c27a0d56712e?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.slider__item.slider5{
    background-image: url(https://images.unsplash.com/photo-1685812446704-53a66e86c6fc?q=80&w=1364&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.slider__nav{
    position: absolute;
    top: 50%;
    width: 100%;
    /* transform: translateY(-20); */
}

.slider__nav button{
    position: absolute;
    left: 30px; 
    width: 40px;
    height: 40px;
    border: none;
    background:transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-left'%3E%3Cpolyline points='15 18 9 12 15 6'%3E%3C/polyline%3E%3C/svg%3E") no-repeat center center / contain;
    cursor: pointer;
}

.slider__nav .slider__nav--next{
    left: auto; right: 30px;
    text-align: right;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
}