@charset "UTF-8";

/* (주)한신정보기술 김지경 - 2023.07 */

#container{padding:60px 0 0;}

body[data-layout="regular"] #container .side{float:left;width:290px;}

body[data-layout="regular"] main{float:right;width:1140px;}

/* side_menu */
.side{border-radius:25px 60px 32px 32px;background-color:#1b224e;}

.side .side_title{margin-top:10px;}
.side .side_title .innerbox{display:table;width:100%;height:120px;}
.side .side_title .innerbox .title{display:table-cell;font-size:22px;line-height:30px;letter-spacing:-0.05em;font-family:'SBAggro';font-weight:400;color:#fff;text-align:center;vertical-align:middle;}

.side_menu{background-color:#fff;border:1px solid #cccfd5;border-radius:25px;}
.side_menu .menu{padding:17px 30px 40px;}

/* 새창 */
/*.side_menu .depth_list .depth_item .depth_text{word-break:keep-all;}*/
.side_menu .depth_list .depth_item .depth_text[target="_blank"] span:after{display:none;position:absolute;top:calc(50% - 11px);right:0;width:22px;height:22px;background:url("../../../site/public/images/sub/side_icon.png") no-repeat -22px 0;}
.side_menu .depth1_list .depth1_item .depth1_text[target="_blank"] span:after{display:block;}
.side_menu .depth1_item.active .depth2_text[target="_blank"] span:after, .side_menu .depth1_item.active .depth2_item.active .depth3_text[target="_blank"] span:after{display:inline-block;}

.side_menu .depth1_item.active .depth2_text[target="_blank"] span:after, .side_menu .depth1_item.active .depth2_item.active .depth3_text[target="_blank"] span:after{display:inline-block;position:relative;top:-2px;right:auto;vertical-align:top;background-image:url("../../../site/public/images/sub/side_icon2.png");background-position:0;}

.side_menu .depth_list .depth_item .depth_text[target="_blank"]:hover span:after{background-position-y:-22px;}
.side_menu .depth1_item.active .depth2_text[target="_blank"]:hover span:after{background-position:-44px 0;}
.side_menu .depth1_item.active .depth2_item.active .depth3_text[target="_blank"]:hover span:after{background-position:-66px 0;}


/* 2차 */
.side_menu .depth1_list .depth1_item .depth1_text{display:table;position:relative;min-height:60px;width:100%;font-size:16px;line-height:22px;font-weight:500;color:#323746;letter-spacing:-0.05em;border-bottom:1px solid #e0e1e3;box-sizing:border-box;vertical-align:middle;z-index:1;}
.side_menu .depth1_list .depth1_item .depth1_text:hover{color:#bd2148;text-decoration:none;border-color:transparent;}

.side_menu .depth1_list .depth1_item .depth1_text:after{display:block;position:absolute;bottom:0;left:0;width:100%;height:2px;background-color:transparent;}
.side_menu .depth1_list .depth1_item .depth1_text:hover:after{background-color:#bd2148;}

.side_menu .depth1_list .depth1_item.active .depth1_text{border:none;color:#fff;}

/* 하위메뉴 갖고있는 2차 */
/*.side_menu .depth1_list .depth1_item.has .depth1_text:after{display:block;position:absolute;top:calc(50% - 11px);right:0;width:22px;height:22px;background:url("/site/public/images/sub/side_icon.png") no-repeat;transition:right 250ms ease-in-out;}*/
/*.side_menu .depth1_list .depth1_item.has .depth1_text:hover:after{background-position-y:-22px;}*/
/*.side_menu .depth1_list .depth1_item.has.active .depth1_text:after{right:-22px;background-position-y:-44px;}*/

.side_menu .depth1_list .depth1_item .depth1_text:before{display:none;position:absolute;bottom:0;left:-20px;width:calc(100% + 70px);height:calc(100% + 2px);border-radius:8px 20px 8px 8px;background-color:#bd2148;box-shadow:4px 6px 15px 0 rgba(95, 109, 130, 0.35);z-index:-1;opacity:0;}
.side_menu .depth1_list .depth1_item.active .depth1_text:before{display:block;opacity:1;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:ease-in-out;}

.side_menu .depth1_list .depth1_item .depth1_text span{display:table-cell;padding:18px 30px 18px 0;vertical-align:middle;}
.side_menu .depth1_list .depth1_item.has .depth1_text span:after{display:block;position:absolute;top:calc(50% - 11px);right:0;width:22px;height:22px;background:url("../../../site/public/images/sub/side_icon.png") no-repeat;transition:right 250ms ease-in-out;}
.side_menu .depth1_list .depth1_item.has .depth1_text:hover span:after{background-position-y:-22px;}
.side_menu .depth1_list .depth1_item.has.active .depth1_text span:after{right:-22px;background-position-y:-44px;}

.side_menu .depth1_item.has.active{border-bottom:2px solid #bd2148;}
.side_menu .depth1_item.active .depth2{padding:13px 0 12px;opacity:1;visibility:visible;transition:opacity 250ms ease-in-out, visibility 250ms ease-in-out;}
.side_menu .depth1_item .depth2_list .depth2_item .depth2_text{transition:line-height 250ms ease-in-out;}
.side_menu .depth1_item.active .depth2_list .depth2_item .depth2_text{position:relative;width:100%;padding:5px 22px 5px 10px;font-size:15px;line-height:20px;color:#323746;letter-spacing:-0.05em;font-weight:400;transition:line-height 250ms ease-in-out;text-decoration:none;}
.side_menu .depth1_item.active .depth2_list .depth2_item .depth2_text:hover, .side_menu .depth1_item.active .depth2_list .depth2_item.active .depth2_text {color:#317ad7;}

.side_menu .depth1_item.active .depth2_list .depth2_item .depth2_text:before{display:block;position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#323746;}
.side_menu .depth1_item.active .depth2_list .depth2_item .depth2_text:hover:before, .side_menu .depth1_item.active .depth2_list .depth2_item.active .depth2_text:before{background-color:#317ad7;}

.side_menu .depth1_item.active .depth2_item.active .depth3{padding:4px 0 13px;opacity:1;visibility:visible;transition:opacity 250ms ease-in-out, visibility 250ms ease-in-out;}

.side_menu .depth1_item.active .depth2_item.active .depth3_list{position:relative;padding:12px 0 14px;border-top:1px solid #767b89;}
.side_menu .depth1_item.active .depth2_item.active .depth3_list:before{display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAAXNSR0IArs4c6QAAABFJREFUGFdjZGBgMGZgYDgLAAHeAQIUKIsvAAAAAElFTkSuQmCC");}
.side_menu .depth1_item .depth2_item .depth3_list .depth3_item .depth3_text{transition:line-height 250ms ease-in-out;}
.side_menu .depth1_item.active .depth2_item.active .depth3_list .depth3_item .depth3_text{position:relative;width:100%;padding:3px 0 3px 14px;font-size:14px;line-height:20px;color:#5a5d6b;letter-spacing:-0.05em;transition:line-height 250ms ease-in-out;text-decoration:none;}
.side_menu .depth1_item.active .depth2_item.active .depth3_list .depth3_item.active .depth3_text{color:#317ad7;}
.side_menu .depth1_item.active .depth2_item.active .depth3_list .depth3_item .depth3_text:before{display:block;position:absolute;top:12px;left:5px;width:7px;height:1px;background-color:#5a5d6b;}

.side_menu .depth1_item.active .depth2_list .depth2_item .depth2_text span, .side_menu .depth1_item.active .depth2_item.active .depth3_list .depth3_item .depth3_text span{display:inline;position:relative;padding:0 3px;}
/*.side_menu .depth1_item.active .depth2_item.active .depth3_list .depth3_item .depth3_text:hover span:before{display:block;position:absolute;bottom:0;left:-3px;width:calc(100% + 6px);height:9px;background-color:#eaf0f9;border-radius:5px;z-index:-1;}*/
.side_menu .depth1_item.active .depth2_item.active .depth3_list .depth3_item .depth3_text:hover span{background-image:url("../../../site/public/images/sub/underline.png");background-repeat:repeat-x;background-position:left bottom;}

@media all and (max-width:1500px) {
    body[data-layout="regular"] #container .side{width:250px;}
    body[data-layout="regular"] main#colgroup{width:900px;}
}

@media all and (max-width:1200px) {
    body[data-layout="regular"] #container .side{display:none;}
    body[data-layout="regular"] main#colgroup{width:100%;}
}


/* sub_head */
.sub_head{position:relative;padding-bottom:24px;border-bottom:1px solid #242a3a;}
.sub_head .pathbox{margin-bottom:8px;}
.sub_head .pathbox .path{font-size:0;line-height:0;}

.sub_head .pathbox .path_item{display:inline-block;position:relative;margin-right:30px;vertical-align:top;}
.sub_head .pathbox .path_item:last-child{margin-right:0;}
.sub_head .pathbox .path_item:before{display:block;position:absolute;top:0;right:-17px;width:6px;height:100%;background:url("../../../site/public/images/sub/path_arrow.png") no-repeat center;}
.sub_head .pathbox .path_item:last-child:before{display:none;}

.sub_head .pathbox .path_item .path_btn{font-size:15px;line-height:30px;letter-spacing:-0.025em;font-weight:400;color:#6b6e7b;vertical-align:top;}
.sub_head .pathbox .path_item.home .path_btn{width:19px;height:30px;font-size:0;line-height:0;background:url("../../../site/public/images/sub/home_icon.png") no-repeat center;}


.sub_head .sub_title h2{font-size:34px;line-height:64px;letter-spacing:-0.05em;color:#111;font-family:'SBAggro';font-weight:400;}

/* 공유하기 */
.sub_head .sharebox{position:absolute;bottom:37px;right:0; ;font-size:0;line-height:0}
.sub_head .sharebox .share_wrap{display:inline-block;position:relative;z-index:1;margin-right:7px;vertical-align:top;}
.sub_head .sharebox .share_wrap:last-child{margin-right:0;}

.sub_head .sharebox .share_wrap .share_btn{position:relative;width:46px;height:46px;border-radius:20px;vertical-align:top;background:linear-gradient(0deg, rgba(255,220,228,1) 0%, rgba(255,246,246,1) 100%);}
.sub_head .sharebox .share_wrap .share_btn:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:url("../../../site/public/images/sub/share_icon.png") no-repeat;}

.sub_head .sharebox .share_wrap .share_btn.print{background:linear-gradient(-27deg, rgba(203,226,255,1) 0%, rgba(234,244,255,1) 100%);}
.sub_head .sharebox .share_wrap .share_btn.print:before{background-position-x:-46px;}

@media all and (min-width:1001px) {

    .sub_head .sharebox .share_wrap .share_btn:hover{background:#f15179;transition:all 250ms ease-in-out;}
    .sub_head .sharebox .share_wrap .share_btn:hover:before{background-position-y:-46px}

    .sub_head .sharebox .share_wrap .share_btn.print:hover{background:#317ad7;}
}

.sub_head .sharebox .share_wrap.active .share_btn{background:#1b224e;}
.sub_head .sharebox .share_wrap.active .share_btn:before{background-image:url("../../../site/public/images/sub/share_icon2.png");background-position:0 0;}


.sub_head .sharebox .share_wrap .share_list{display:none;position:absolute;top:0;left:0;padding:60px 10px 13px;background-color:#fff;border-radius:20px;box-shadow:4px 7px 10px 0 rgba(0, 0, 0, 0.08);z-index:-1;}
.sub_head .sharebox .share_wrap.active .share_list{}

.sub_head .sharebox .share_wrap .share_list li + li{margin-top:10px;}
.sub_head .sharebox .share_wrap .share_list a{width:26px;height:26px;vertical-align:top;background:url("../../../site/public/images/sub/share_sns.png");}
.sub_head .sharebox .share_wrap .share_list a.facebook{background-position-x:-26px;}
.sub_head .sharebox .share_wrap .share_list a.blog{background-position-x:-52px;}
.sub_head .sharebox .share_wrap .share_list a.kakaostory{background-position-x:-78px;}
.sub_head .sharebox .share_wrap .share_list a.kakao{background-position-x:-104px;}
.sub_head .sharebox .share_wrap .share_list a.share{background-position-x:-130px;}
.sub_head .sharebox .share_wrap .share_list button{width:26px;height:26px; margin:0; padding:0; border:none; vertical-align:top;}
.sub_head .sharebox .share_wrap .share_list .qrbtn{background-repeat:no-repeat; background-position:center center; background-image:url(../images/sub/qricon.png);}

html.qr_show{overflow:hidden;}
.qr_layer{display:none; position:fixed; top:0; left:0; z-index:10000002; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.65);}
.qr_layer .layer{position:absolute; top:calc(50% - 193px); left:calc(50% - 150px); z-index:2; width:300px;}
.qr_layer .layer .title{padding:19px 0 18px; background-color:#317ad7; border-top-right-radius:20px; border-top-left-radius:20px; line-height:28px; text-align:center; color:#FFF; font-size:20px; font-weight:500; letter-spacing:-0.03em;}
.qr_layer .layer .conbox{padding:19px 0 49px; background-color:#FFF; border-bottom-right-radius:20px; border-bottom-left-radius:20px;}
.qr_layer .layer .conbox .qr_image{margin-bottom:6px; line-height:0; text-align:center;}
.qr_layer .layer .conbox .btnbox{line-height:0; text-align:center;}
.qr_layer .layer .close{position:absolute; top:-60px; right:0; width:50px; height:50px; margin:0; padding:0; border:none; background-color:rgba(17, 17, 17, 0.5); border-radius:50px; color:transparent; font-size:0;}
.qr_layer .layer .close:before{display:block; position:absolute; top:calc(50% - 8px); left:18px; width:15px; height:16px; background-repeat:no-repeat; background-position:-90px top; background-image:url(../images/program/program_icons.png); content:'';}

.tabmenubox{margin-top:60px;}
#contents{margin-top:60px;}

@media all and (max-width:1000px) {
    #container{padding:0;}

    .sub_head{position:relative;padding:30px 0;border:none;}
    .sub_head:before{display:block;position:absolute;top:0;left:-4%;width:108%;height:calc(100% + 35px);background-color:#f4f6f9;z-index:-1;}
    .sub_head .pathbox{display:none;}
    .sub_head .sub_title h2{font-size:24px;line-height:40px;}
    .sub_head .sharebox{bottom:30px;}
    .sub_head .sharebox .share_wrap{margin-right:0;}
    .sub_head .sharebox .share_wrap:last-child{display:none;}
    .sub_head .sharebox .share_wrap .share_btn{width:37px;height:37px;border-radius:17px;}
    .sub_head .sharebox .share_wrap .share_btn:before{background-size:200%;}
    .sub_head .sharebox .share_wrap.active .share_btn:before{background-size:contain;}

    .sub_head .sharebox .share_wrap .share_list{top:20px;left:auto;right:10px;width:127px;padding:20px 15px 15px;}
    .sub_head .sharebox .share_wrap .share_list li{display:inline-block;width:calc((100% - 20px) / 3);margin-right:10px;vertical-align:top;}
    .sub_head .sharebox .share_wrap .share_list li + li{margin-top:0;}
    .sub_head .sharebox .share_wrap .share_list li:nth-child(3n){margin-right:0;}
    .sub_head .sharebox .share_wrap .share_list li:nth-child(n + 4){margin-top:10px;}
	.tab_wrap.cms_tab .tab_wrap{position:relative;}
	.tab_wrap.cms_tab .tab_wrap:before{display:block;position:absolute;top:-40px;left:-3.5%;width:107%;height:calc(100% + 40px);background-color:#fff;border-radius:35px 35px 0 0;z-index:-1;}
    #contents{position:relative;margin-top:40px;}
    #contents:before{display:block;position:absolute;top:-40px;left:-3.5%;width:107%;height:40px;background-color:#fff;border-radius:35px 35px 0 0;z-index:-1;}
	.tabmenubox{position:relative;}
	.tabmenubox:before{display:block;position:absolute;top:-60px;left:-3.5%;width:107%;height:60px;background-color:#fff;border-radius:35px 35px 0 0;z-index:-1;}
}

@media all and (max-width:640px) {
    .sub_head{padding:24px 0 22px;}
    .sub_head .sub_title h2{font-size:20px;line-height:34px;}
    .sub_head .sharebox{bottom:20px;}
	.tab_wrap.cms_tab .tab_wrap:before{top:-30px;border-radius:30px 30px 0 0;}
	.tabmenubox{margin-top:30px;}
    #contents{margin-top:30px;}
    #contents:before{top:-30px;height:40px;border-radius:30px 30px 0 0;}
	.tabmenubox:before{top:-30px;height:35px;border-radius:30px 30px 0 0;}
}



/* 비주얼 타입 - 공통 */
body.visualtype .sub_visual .sub_head .sub_title h2{margin-bottom:17px;color:#fff;text-align:center;font-size:48px;line-height:70px;letter-spacing:-0.02em;}
body.visualtype .sub_visual .sub_head_wrap{text-align:center;font-size:0;line-height:0;}
body.visualtype .sub_visual .pathbox{display:inline-block;margin:2px 20px 2px 0;vertical-align:top;}
body.visualtype .sub_visual .pathbox .path_item .path_btn{color:rgba(255, 255, 255, 0.8);}
body.visualtype .sub_visual .pathbox .path_item.home a{background-image:url("../../../site/public/images/sub/w_home_icon.png");}
body.visualtype .sub_visual .pathbox .path_item:before{background-image:url("../../../site/public/images/sub/w_path_arrow.png");}

@media all and (min-width:1001px) {
    body.visualtype .sub_visual .sharebox .share_wrap .share_btn:hover{background-color:#bd2148;border-color:#bd2148;}
    body.visualtype .sub_visual .sharebox .share_wrap .share_btn.print:hover{background-color:#1b224e;border-color:#1b224e;}
}

body.visualtype .sub_visual .sharebox{display:inline-block;position:relative;bottom:auto;right:auto;vertical-align:top;}
body.visualtype .sub_visual .sharebox .share_wrap{margin-right:5px;}
body.visualtype .sub_visual .sharebox .share_wrap .share_btn{width:34px;height:34px;border-radius:15px;border:1px solid rgba(255, 255, 255, 0.6);background-image:none;}
body.visualtype .sub_visual .sharebox .share_wrap.active .share_btn{border-color:#1b224e;background-color:#1b224e;}

body.visualtype .sub_visual .sharebox .share_wrap .share_btn:before{background-image:url("../../../site/public/images/sub/share_icon3.png");background-position:-1px -1px;}
body.visualtype .sub_visual .sharebox .share_wrap.active .share_btn:before{background-position-y:-35px;}
body.visualtype .sub_visual .sharebox .share_wrap .share_btn.print:before{background-position-x:-35px;}

body.visualtype .sub_visual .sharebox .share_wrap .share_list{top:10px;padding:27px 4px 12px;}
body.visualtype .sub_visual .sharebox .share_wrap .share_list li + li{margin-top:5px;}

@media all and (max-width:1000px){
    body.visualtype .sub_visual .sub_head .sub_title{display:table;width:100%;height:100%;}
    body.visualtype .sub_visual .sub_head .sub_title h2{display:table-cell;margin-bottom:0;font-size:24px;line-height:40px;vertical-align:middle;}

    body.visualtype .sub_visual .pathbox{display:none;}
    body.visualtype .sub_visual .sub_head_wrap{position:absolute;top:calc(50% - 17px);right:0;}
    body.visualtype .sub_visual .sharebox .share_wrap{margin-right:0;}
    body.visualtype .sub_visual .sharebox .share_wrap .share_btn{border-radius:15px;}
    body.visualtype .sub_visual .sharebox .share_wrap .share_btn:before{background-size:unset;}

    body.visualtype .sub_visual .sharebox .share_wrap .share_list{top:17px;padding:20px 14px 14px 17px;}
    body.visualtype .sub_visual .sharebox .share_wrap .share_list li + li{margin-top:0;}
    body.visualtype .sub_visual .sharebox .share_wrap .share_list li:nth-child(n + 4){margin-top:10px;}
}

@media all and (max-width:640px) {
    body.visualtype .sub_visual .sub_head .sub_title h2{text-align:left;font-size:20px;line-height:30px;}
}

/* 비주얼 타입 - 레귤러 */

/* sub_visual */
body.visualtype[data-layout="regular"] #container{padding-top:80px;}

body.visualtype[data-layout="regular"] .sub_visual{position:relative;}
body.visualtype[data-layout="regular"] .sub_visual:before{display:block;position:absolute;top:0;left:-130px;width:calc(100% + 260px);height:100%;background:url("../../../site/public/images/sub/visual_sub_img1.png") no-repeat center;background-size:cover;border-radius:35px;}

body.visualtype[data-layout="regular"] .sub_visual .sub_head{padding-top:194px;padding-bottom:165px;border-bottom:none;}

body.visualtype[data-layout="regular"] #container .side{background-color:transparent;border-top:2px solid #252831;box-sizing:border-box;border-radius:0;}
body.visualtype[data-layout="regular"] .side .side_title{margin-top:5px;}
body.visualtype[data-layout="regular"] .side .side_title .innerbox{height:100px;}
body.visualtype[data-layout="regular"] .side .side_title .innerbox .title{color:#252831;}

@media all and (max-width:1500px) {
    body.visualtype[data-layout="regular"] .sub_visual:before{left:-50px;width:calc(100% + 100px)}
}
@media all and (max-width:1000px) {
    body.visualtype[data-layout="regular"] .sub_visual:before{left:-3.5%;width:107%;height:calc(100% + 40px);border-radius:0;}

    body.visualtype[data-layout="regular"] .sub_visual .sub_head{height:200px;padding:0;}

    body.visualtype[data-layout="regular"] .sub_head:before{background-color:transparent;}

    body.visualtype[data-layout="regular"] #container{padding-top:0;}
    body.visualtype[data-layout="regular"] #contents{margin-top:0;padding-top:40px;}
    body.visualtype[data-layout="regular"] #contents:before{top:0;z-index:auto;}

}
@media all and ( max-width:640px) {
    body.visualtype[data-layout="regular"] .sub_visual .sub_head{height:140px;}
}

/* 비주얼 타입 - 와이드 */

/* 와이드 일때 컨텐츠 영역 */
@media all and (min-width:1501px){
    /*body[data-layout="wide"] #container .wrap{width:1300px;}*/
    /*body[data-layout="wide"] .sub_visual .wrap{width:1300px;}*/
}

body.visualtype[data-layout="wide"] .sub_visual{position:relative;width:100%;height:100%;padding-top:86px;}
body.visualtype[data-layout="wide"] .sub_visual:before{display:block;position:absolute;top:0;width:100%;height:calc(100% - 60px);background:url("../../../site/public/images/sub/visual_sub_img2.png") no-repeat center;background-size:cover;z-index:-1;}
body.visualtype[data-layout="wide"] .sub_visual .sub_title{display:table;width:100%;height:564px;}
body.visualtype[data-layout="wide"] .sub_visual .sub_title h2{display:table-cell;vertical-align:middle;text-align:center;font-size:58px;line-height:70px;}

/* sub 메뉴 */
body[data-layout="wide"] .sub_visual .sub_head{padding-bottom:0;border-bottom:none;}
body[data-layout="wide"] .sub_visual .sub_head:before{display:block;position:absolute;bottom:0;left:calc(50% - 50vw);width:100vw;height:1px;background-color:#e7e8ec;z-index:1;}

body[data-layout="wide"] .sub_visual .pathbox{width:100%;margin:0;padding-right:200px;}
body[data-layout="wide"] .sub_visual .pathbox .path{width:100%;}
body[data-layout="wide"] .sub_visual .pathbox .path_item{position:relative;width:calc((100% - 60px) / 4);margin-right:0;}
body[data-layout="wide"] .sub_visual .pathbox .path_item:before{display:block;position:absolute;top:0;right:0;width:1px;height:100%;background-color:#e7e8ec;z-index:1;}
body[data-layout="wide"] .sub_visual .pathbox .path_item.home{width:60px;}
body[data-layout="wide"] .sub_visual .pathbox .path_item.home:after{display:block;position:absolute;top:0;left:0;width:1px;height:100%;background-color:#e7e8ec;}

body[data-layout="wide"] .sub_visual .pathbox .path_item .path_btn{position:relative;height:60px;width:100%;padding:5px 40px 5px 20px;font-size:16px;line-height:24px;letter-spacing:-0.02em;color:#45484e;text-align:left;}
body[data-layout="wide"] .sub_visual .pathbox .path_item:not(.home) .path_btn:after{display:block;position:absolute;bottom:20px;right:17px;width:20px;height:20px;background:url("../../../site/public/images/sub/path_arrow2.png") no-repeat;}

body[data-layout="wide"] .sub_visual .pathbox .path_item .path_btn:hover, body[data-layout="wide"] .sub_visual .pathbox .path_item.home .path_btn:hover{background-color:#f5f7fa;}
body[data-layout="wide"] .sub_visual .pathbox .path_item.home .path_btn{font-size:0;line-height:0;background:url("../../public/images/sub/home_icon2.png") no-repeat center;}

body[data-layout="wide"] .sub_visual .pathbox .path_item .path_selectlist{display:none;position:absolute;width:calc(100% + 1px);border:1px solid #1b224e;border-top:none;box-shadow:9px 16px 30px 0 rgba(0, 0, 0, 0.1);box-sizing:border-box;border-radius:0 0 15px 15px;z-index:30;background-color:#fff;}
body[data-layout="wide"] .sub_visual .pathbox .path_item .path_selectlist .path_selectitem .path_link{display:table;position:relative;width:100%;min-height:60px;padding:5px 40px 5px 20px;font-size:16px;line-height:24px;letter-spacing:-0.02em;color:#1b224e;text-decoration:none;border-bottom:1px solid #e7e8ec;}
body[data-layout="wide"] .sub_visual .pathbox .path_item .path_selectlist .path_selectitem:last-child .path_link{border-bottom:none;}
body[data-layout="wide"] .sub_visual .pathbox .path_item .path_selectlist .path_selectitem .path_link:before{display:block;position:absolute;top:calc(50% - 10px);right:40px;width:20px;height:20px;background:url("../../../site/public/images/sub/path_arrow2.png") no-repeat;background-position-x:-40px;opacity:0;}

body[data-layout="wide"] .sub_visual .pathbox .path_item .path_selectlist .path_selectitem .path_link:hover{padding-left:32px;background-color:#f5f7fa;transition:padding 250ms ease-in-out;}
body[data-layout="wide"] .sub_visual .pathbox .path_item .path_selectlist .path_selectitem .path_link:hover:before{right:30px;opacity:1;transition:right 250ms ease-in-out;}


body[data-layout="wide"] .sub_visual .pathbox .path_item .path_selectlist .path_selectitem .path_link span{display:table-cell;vertical-align:middle;}

body[data-layout="wide"] .sub_visual .pathbox .path_item.has.active{}

body.visualtype[data-layout="wide"] .sub_visual .pathbox .path_item.has.active .path_btn{padding-bottom:15px;z-index:1;color:#fff;transition:all 250ms ease-in-out;}
body.visualtype[data-layout="wide"] .sub_visual .pathbox .path_item.has .path_btn:before{display:none;position:absolute;bottom:0;left:0;width:calc(100% - 1px);height:calc(100% + 10px);background-color:#1b224e;border:1px solid #1b224e;border-radius:15px 15px 0 0 ;z-index:-1;opacity:0;visibility:hidden;}
body.visualtype[data-layout="wide"] .sub_visual .pathbox .path_item.has.active .path_btn:before{display:block;
    opacity:1;visibility:visible;transition:opacity 250ms ease-in-out;}

body.visualtype[data-layout="wide"] .sub_visual .pathbox .path_item.has.active .path_btn:after{bottom:25px;background-position-x:-20px;transition:bottom 250ms ease-in-out;}

@media all and (max-width:1200px) {
    body.visualtype[data-layout="wide"] .sub_visual .sub_title{height:500px;}
}

@media all and (min-width:1001px) {
    body.visualtype[data-layout="wide"] #contents{margin-top:0}

    body.visualtype[data-layout="wide"] .sub_visual .sub_head_wrap{position:absolute;bottom:13px;right:6px;}
    body.visualtype[data-layout="wide"] .sub_visual .sharebox .share_wrap:not(.active) .share_btn:before{background-image:url("../../../site/public/images/sub/share_icon4.png");}
    body.visualtype[data-layout="wide"] .sub_visual .sharebox .share_wrap:not(.active) .share_btn:hover{background-color:#fff;border-color:#fff;}
    body.visualtype[data-layout="wide"] .sub_visual .sharebox .share_wrap:not(.active) .share_btn:hover:before{background-position-y:-35px;}
}

@media all and (max-width:1000px) {
    body.visualtype[data-layout="wide"] .sub_visual{padding-top:80px;}
    body.visualtype[data-layout="wide"] .sub_visual:before{height:calc(100% + 40px);}

    body.visualtype[data-layout="wide"] .sub_visual .sub_head .pathbox{display:none;}

    body[data-layout="wide"] .sub_visual .sub_head{padding-top:0;}
    body.visualtype[data-layout="wide"] .sub_visual .sub_title{height:200px;}
    body.visualtype[data-layout="wide"] .sub_visual .sub_title h2{padding:0 40px;font-size:24px;letter-spacing:-0.05em;line-height:34px;}

    body.visualtype[data-layout="wide"] .sub_visual .sub_head:before{display:none;}
}

@media all and (max-width:640px) {
    body.visualtype[data-layout="wide"] .sub_visual{padding-top:70px;}

    body.visualtype[data-layout="wide"] .sub_visual .sub_title{height:140px;}
    body.visualtype[data-layout="wide"] .sub_visual .sub_title h2{padding:0 40px 0 0;font-size:20px;line-height:20px;text-align:left;}
}

/* 노멀 타입 -  wide */

body.normal[data-layout="wide"] #container{padding-top:0;}
/*body.normal[data-layout="wide"] #header .header_box:before{display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:#cccfd5;z-index:1;}*/

body.normal[data-layout="wide"] .sub_head{padding-bottom:0;}

body.normal[data-layout="wide"] .sub_head .pathbox{position:relative;padding:18px 0;margin-bottom:0;}
body.normal[data-layout="wide"] .sub_head .pathbox:before{display:block;position:absolute;bottom:0;left:calc(50% - 50vw);width:100vw;height:1px;background-color:#e7e8ec;}
body.normal[data-layout="wide"] .sub_head .pathbox .path_item{margin-right:0;}
body.normal[data-layout="wide"] .sub_head .pathbox .path_item:before{right:0;width:1px;height:100%;background:#e1e1e1;}
body.normal[data-layout="wide"] .sub_head .pathbox .path_item .path_btn{padding:0 20px;line-height:21px;text-align:left;}
body.normal[data-layout="wide"] .sub_head .pathbox .path_item.home a{height:21px;background-position:left;}

body.normal[data-layout="wide"] .sub_head .pathbox .path_item:not(.home) .path_btn{padding:0 30px 0 20px;}
body.normal[data-layout="wide"] .sub_head .pathbox .path_item:last-child{margin-right:20px;}
body.normal[data-layout="wide"] .sub_head .pathbox .path_item:not(.home) .path_btn{position:relative;min-width:160px;padding-right:45px;}
body.normal[data-layout="wide"] .sub_head .pathbox .path_item .path_btn:before{display:block;position:absolute;top:calc(50% - 12px);right:3px;width:24px;height:24px;border-radius:50%;background:url("../../../site/public/images/sub/path_arrow3.png") no-repeat;transition:background-color 250ms ease-in-out;}
body.normal[data-layout="wide"] .sub_head .pathbox .path_item.home .path_btn:before{display:none;}

body.normal[data-layout="wide"] .sub_head .pathbox .path_item.active .path_btn:before{background-position-x:-24px;background-color:#45484e;transition:background-color 250ms ease-in-out;}

/* body.normal[data-layout="wide"] .sub_head .pathbox .path_selectlist{display:none;position:absolute;top:calc(100% + 7px);width:100%;padding:13px 20px 14px 21px;border:1px solid #5e6066;border-radius:15px;z-index:30;box-shadow:5px 9px 20px 0 rgba(208, 212, 219, 0.75);background-color:#fff;} */
body.normal[data-layout="wide"] .sub_head .pathbox .path_selectlist{display:none;position:absolute;top:calc(100% + 7px);width:100%;padding:13px 2px 14px 6px;border:1px solid #5e6066;border-radius:15px;z-index:30;box-shadow:5px 9px 20px 0 rgba(208, 212, 219, 0.75);background-color:#fff;}
body.normal[data-layout="wide"] .sub_head .pathbox .path_selectlist .path_link{font-size:15px;line-height:30px;letter-spacing:-0.02em;color:#72757a;font-weight:400;}
body.normal[data-layout="wide"] .sub_head .pathbox .path_selectlist .path_link:hover{color:#111;}
body.normal[data-layout="wide"] .sub_head .pathbox .path_selectlist .path_link:hover span{text-decoration:underline;}


body.normal[data-layout="wide"] .sub_head .sharebox{bottom:auto;top:12px;}
body.normal[data-layout="wide"] .sub_head .sharebox .share_wrap .share_btn{width:34px;height:34px;background:#fff;border-radius:15px;}
body.normal[data-layout="wide"] .sub_head .sharebox .share_wrap.active .share_btn{background:#1b224e;}

body.normal[data-layout="wide"] .sub_head .sharebox .share_wrap .share_btn:before{background-image:url("../../../site/public/images/sub/share_icon4.png");}
body.normal[data-layout="wide"] .sub_head .sharebox .share_wrap .share_btn:hover:before{background-position-y:-34px;}
body.normal[data-layout="wide"] .sub_head .sharebox .share_wrap.active .share_btn:before{background-position-y:-68px;}

body.normal[data-layout="wide"] .sub_head .sharebox .share_wrap .share_btn.print:before{background-position-x:-34px;}
body.normal[data-layout="wide"] .sub_head .sharebox .share_wrap .share_list{top:10px;padding:27px 4px 12px;}

body.normal[data-layout="wide"] .sub_head .sub_title{padding:78px 0 70px;}
body.normal[data-layout="wide"] .sub_head .sub_title h2{font-size:48px;line-height:68px;text-align:center;color:#111;}

body.normal[data-layout="wide"] #contents{margin-top:50px;}

body.normal[data-layout="wide"] .tab_wrap.cms_tab .tab_list{text-align:center;}
body.normal[data-layout="wide"] .tab_wrap.cms_tab .tab_list .tab_item{width:calc((100% - 40px) / 5);}

@media all and (min-width: 1001px) {
body.normal[data-layout="wide"] .sub_head .pathbox .path_item:last-child .path_btn:before{right:20px;}
.tab_wrap.center_tab .tab_list{text-align:center;}
.tab_wrap.center_tab .tabwrapbox .tab_list .tab_item{width:calc((100% - 40px) / 5);}
}

@media all and (max-width:1000px) {
    body.normal[data-layout="wide"] .sub_head{padding-top:0;border-bottom:1px solid #242a3a;}
    body.normal[data-layout="wide"] .sub_head:before{display:none;}

    body.normal[data-layout="wide"] .sub_head .sub_title{padding:35px 0 40px;}
    body.normal[data-layout="wide"] .sub_head .sub_title h2{font-size:24px;line-height:34px;}

    body.normal[data-layout="wide"] .sub_head .pathbox{display:block;padding:12px 0 13px;}
    body.normal[data-layout="wide"] .sub_head .pathbox .path_item:not(.home) .path_btn{padding:0 30px 0 17px;}
    body.normal[data-layout="wide"] .sub_head .pathbox .path_item:not(.home) .path_btn{font-size:14px;}
    body.normal[data-layout="wide"] .sub_head .pathbox .path_item:not(.home) .path_btn{min-width:150px;}

    body.normal[data-layout="wide"] .sub_head .pathbox .path_selectlist{padding:14px 2px 10px 6px;}
    body.normal[data-layout="wide"] .sub_head .pathbox .path_selectlist .path_link{font-size:14px;}

    body.normal[data-layout="wide"] .sub_head .sharebox{top:8px;}
    body.normal[data-layout="wide"] .sub_head .sharebox .share_wrap.active .share_btn:before{background-size:200%;}
}

@media all and (max-width:640px) {
    body.normal[data-layout="wide"] .sub_head .pathbox{display:none;}
    body.normal[data-layout="wide"] .sub_head .sharebox{top:calc(50% - 17px);}
    body.normal[data-layout="wide"] .sub_head .sub_title{padding:26px 40px 28px 0;}
    body.normal[data-layout="wide"] .sub_head .sub_title h2{font-size:20px;line-height:30px;text-align:left;}
}