@charset "utf-8";
/* (주)한신정보기술 서정한 - 2023.12 */

body{position:relative;font-size:15px;line-height:24px;color:#023894; font-family:'NotoKr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif; font-weight:400;}

body{}
#wrapper{position:relative; min-width:1200px; overflow:hidden;}
#wrapper:before{display:block; position:absolute; top:0; left:0; z-index:1; width:480px; height:260px; background-repeat:no-repeat; background-position:left top; background-image:url(../images/decotop.png); content:'';}

.wrap{position:relative;width:1200px;margin:0 auto;}
.skip{overflow:hidden;}

#header{margin-bottom:113px;}
#header .wrap{padding-top:101px;}
#header .logo h1{text-align:center;}
#header .logo h1 a{display:inline-block; line-height:0; text-align:center; vertical-align:top;}

#container:before{position:absolute; bottom:0; right:0; display:block; width:1554px; height:760px; background-repeat:no-repeat; background-position:right bottom; background-image:url(../images/container_icon.png); content:''; z-index:1;}
#container .wrap{padding-bottom:271px;}

.contentbox{position:relative; max-width:826px; z-index:5;}
.contentbox .titlebox{max-width:585px; border-color:#809bc9; border-style:solid; border-width:1px 0; margin-bottom:42px; padding:12px 25px;}
.contentbox .titlebox p{line-height:23px; text-align:center; color:#023894; font-size:18px; letter-spacing:0.4em;}
.contentbox .titlebox p em{color:#023894; font-weight:600;}
.contentbox h2{margin-bottom:45px; line-height:68px; color:#023894; font-family:'Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif; font-size:50px; font-weight:100; letter-spacing:-0.03em;}
.contentbox h2 em{color:#023894; font-weight:400;}
.contentbox .textbox{margin-bottom:44px;}
.contentbox .textbox p{line-height:26px; color:#023894; font-size:16px; letter-spacing:-0.03em;}
.contentbox .datebox p{margin-top:10px; }
.contentbox .datebox p:first-child{margin-top:0;}
.contentbox .datebox p .title{display:inline-block; margin-top:13px; line-height:26px; vertical-align:top; color:#023894; font-size:18px; font-weight:600; letter-spacing:-0.03em;}
.contentbox .datebox p em{margin-left:6px; line-height:48px; vertical-align:top; color:#023894; font-family:'Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif; font-size:36px; font-weight:100; letter-spacing:0;}

@media all and (max-width:1500px){
#wrapper:before{width:24%; height:0; padding:6.6% 0; background-size:contain;}
#container:before{width:90%; height:0; padding:22% 0; background-size:contain;}
}


/* web */
@media screen and (max-width:1200px){
#wrapper{min-width:1000px;}
.wrap{width:1000px;}
}

/* tablet */
@media screen and (max-width:1000px){
#wrapper{overflow-x:hidden; min-width:0;}
.wrap{max-width:none; width:94%;}
#header{margin-bottom:68px;}
#container{position:relative;}
#container .wrap{position:static; padding-bottom:40%;}
#container .wrap:before{bottom:-5px; right:-6%; width:70%; height:0; padding:20% 0; background-size:contain;}
.contentbox .titlebox{margin-bottom:30px;}
.contentbox h2{margin-bottom:28px; line-height:48px; font-size:42px;}
.contentbox .textbox{margin-bottom:25px;}
.contentbox .datebox p{font-size:18px;}
.contentbox .datebox p em{font-size:23px;}
}

/* mobile */
@media screen and (max-width:640px){
#header{margin-bottom:30px;}
#header .wrap{padding-top:40px;}
#header .logo h1 a img{height:108px;}
.contentbox .titlebox{padding:12px 4%;}
.contentbox .titlebox p{letter-spacing:0.2em;}
.contentbox h2{line-height:36px; font-size:32px;}
.contentbox .textbox p{line-height:22px; font-size:15px;}
.contentbox .datebox p{line-height:24px; font-size:16px;}
.contentbox .datebox p .title{margin-top:0;}
.contentbox .datebox p em{line-height:26px; font-size:18px;}
}







